{
    "extends": [
        "@feature-sliced/eslint-config/rules/import-order",
        "@feature-sliced/eslint-config/rules/layers-slices",
        "plugin:react/recommended",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "react/react-in-jsx-scope": "off"
    },
    "env": {
        "browser": true,
        "es2021": true,
        "jest": true
    }
}